<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
</head>
<body>
  <div class="content">
    {{#if message}}<p><strong style="color:red">{{{message}}}</strong></p>{{/if}}
    {{{content}}}
  </div>
  <div class="footer">
    powered by <a href="https://github.com/carlos8f/zenbot/releases/tag/v{{version}}">{{user_agent}}</a>
  </div>
  <script src="/jquery.js"></script>
  <script src="/d3.v3.min.js"></script>
  <script src="/techan.min.js"></script>
  <script src="/main.js"></script>
  {{{tracking_scripts}}}
</body>
</html>